{% extends 'admin/base.html.twig' %}
{% block title %}Modification du l'user {{user.id}}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Modification de l'utilisateur {{user.id}}</h1>
        <a href="{{path('admin_comments_index')}}" class="btn btn-secondary my-3">Retour</a>
        <div class="alert alert-info">
            <p><strong>Annonce liée: </strong>{{user.book.title}}</p>
            <p><strong>Auteur: </strong>{{utilisateur.fullName}}</p>
        </div>
        {{form_start(myForm)}}
            {{form_widget(myForm)}}
            <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Modifier l'information</button>
        {{form_end(myForm)}}
    </div>
{% endblock %} 