{% set url = path('books_detail', {'slug': books.slug}) %}
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        {{ books.title }} 
                         <br>
                        {% if books.comments | length > 0 %}
                            {% include 'partials/rating.html.twig' with {'rating': books.avgRatings }%} ({{books.comments | length }} avis)
                        {% else %}
                            <small>Pas encore noté</small>
                        {% endif %}
                    </div>
                    <a href="{{url}}">
                        <img src="{{ books.coverImage }}" alt="image de {{ books.title }}" class="starsimg">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            {{ books.title }}
                        </h4>
                        
                        <a href="{{url}}" class="btn btn-secondary">Lire la fiche du livre</a>
                        {% if (app.user and app.user == books.utilisateur) or is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('books_edit',{'slug': books.slug})}}" class="btn btn-secondary">Modification de l'annonce</a>
                          {% endif %}
                    </div>
                </div>
            </div> 